.report{
  // bottom: 0px;
  position: absolute;
  left: 10px;
  right: 10px;
  box-shadow: 0 0 30px black;
  margin: 30px 20px 40px 20px;
  padding: 10px 10px 10px 10px;
  hr{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .form-group{
    margin-bottom: 0px;
  }
  textarea{
    margin-top: 5px;  
    margin-bottom: 5px; 
  }
  // .edit-area{
  //   position: absolute;
  //   top: 0px;
  //   left:300px;
  //   padding: 30px;
  //   right: 0px;
  //   a{
  //     float: right;
  //   }
  // }
}